@import 'global';
@import 'animations';

html[dir="ltr"] {
  * {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
  }
}

html[dir="rtl"] {
  * {
    font-family: "ExpoArabic" , sans-serif ;
  }
}

.product-box {
  width: 100%;
  transition: all .3s linear;

  .image-content {
    width: 100%;
    height: 216px;
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  

  .content {
    width: 100%;
    padding: 10px 0px;

    .head {
      color: #000000;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 0px;
    }

    p {
      color: rgba($color: #000000, $alpha: 0.50);
      font-size: 13px;
      font-weight: 500;
      margin: 8px 0px 15px;
    }

    .button-contain {
      .add-btn {
        width: 100%;
        height: 35px;
        border: 1px solid #000000;
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        color: #000000;
        font-size: 13px;
        font-weight: 500;
        position: relative;
        z-index: 9;

        &::after, &::before {
          content: '';
          position: absolute;
          width: 0%;
          height: 100%;
          background-color: #B1373A;
          top: 0;
          z-index: -1;
          transition: all .3s linear;
        }

        &::after {
          left: 0;
        }

        &::before {
          right: 0;
        }

        &:hover {
          border-color: #B1373A;
          color: #fff;

          &::after, &::before {
            width: 55% !important;
          }
        }
      }
    }
  }

  &.sold-out {
    .image-content img {
      opacity: .5;
    }


    .content {
      .button-contain {
        .add-btn {
          background-color: #EDAEB0;
          color: #B1373A;
          border: 0px !important;

          &::after, &::before {
            display: none;
          }
        }
      }
    }
  }

  &:hover {
    transform: translateY(-10px);

    h2 {
      color: #B1373A;
    }
  }
}

.navbar {
  width: 100%;
  padding: 5px 0px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998 !important;
  transition: all .2s linear;

  &.scrolled {
    background-color: #000000;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .data {
      display: flex;
      align-items: center;
      align-content: center;

      .cart img {
        width: 24px;
        height: 24px;
        margin-inline-start: 15px;
      }

      .lang {
        color: #fff;
        font-size: 18px;
        font-weight: 500;

        &:hover {
          color: #D04B4F;
        }
      }
    }

    .hamburger {
      display: block;
      .line { 
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
      }

      &.active {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);

        .line {
          &:nth-child(2) {
            width: 0px;
          }

          &:nth-child(1), &:nth-child(3) {
            transition-delay: 0.3s;
          }

          &:nth-child(1) {
            transform: translateY(6.5px);
          }

          &:nth-child(3) {
            transform: translateY(-15px) rotate(90deg);
          }
        }
      }
    }
  }
}

.navbar-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: all .3s linear;
  padding: 10px 15px;
  z-index: 99999;
  background-color: #fff;

  &.acitve-nav {
    left: 0% !important;
  }

  .heading-list {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  li {
    padding: 10px 0px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.10);

    &.no-border {
      border: 0px !important;

      span {
        color: rgba($color: #000000, $alpha: 0.30);
      }
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      color: #000000;
      font-size: 14px;
      font-weight: 500;

      span {
        color: #000000;
        font-size: 14px;
        font-weight: 500;
      }

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
  }
}

header {
  width: 100%;
  padding-bottom: 30px;

  .header-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
  }

  .content {
    display: flex;
    align-content: center;
    align-items: center;
    margin-block-start: 16px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      margin-inline-end: 16px;
    }

    .data {
      h1 {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        color: rgba($color: #000000, $alpha: 0.30);
        margin: 0px;
      }
    }
  }
}

.data-pick {
  width: 100%;
  padding: 10px 0px 15px 0px;
  border-bottom: 3px solid #C4C4C4;

  .nav-data {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    li {
      
      &:first-child {
        padding-inline-end: 72px;
        border-inline-end: 1px solid rgba($color: #000000, $alpha: 0.10);
      }

      &:last-child {
        padding-inline-start: 72px;
      }

      a {
        color: #D04B4F;
        font-size: 14px;
        font-weight: 500;

        &:hover {
          color: #000000;
        }
      }
    }
  }

  .form-contain {
    width: 100%;

    .form-group {
      width: 100%;
      height: 35px;
      margin: 0px !important;

      .form-control {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #C4C4C4, $alpha: 0.20);
        border-radius: 8px;
        font-size: 15px;
        font-weight: 500;
        color: #000000;
        border: 1px solid rgba($color: #D04B4F, $alpha: 0.0);

        &::placeholder {
          color: rgba($color: #000000, $alpha: 0.20);
          font-size: 14px;
          font-weight: 500;
        }

        &:hover, &:focus {
          border-color: #D04B4F !important;
        }
      }
    }
  }
}

.search-box-data {
  width: 100%;
  padding: 15px 0px;

  .form-contain {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.10);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .form-group {
      width: 280px;
      height: 35px;
      margin: 0px !important;

      .form-control {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #C4C4C4, $alpha: 0.20);
        border-radius: 8px;
        font-size: 15px;
        font-weight: 500;
        color: #000000;
        border: 1px solid rgba($color: #D04B4F, $alpha: 0.0);

        &::placeholder {
          color: rgba($color: #000000, $alpha: 0.20);
          font-size: 14px;
          font-weight: 500;
        }

        &:hover, &:focus {
          border-color: #D04B4F !important;
        }
      }
    }

    .cancel {
      color: #B12626;
      font-size: 14px;
      font-weight: 700;

      &:hover {
        color: #D04B4F;
      }
    }
  }

  .heading {
    width: 100%;

    h1 {
      color: #000000;
      font-size: 24px;
      text-transform: capitalize;
      font-weight: 500;
      margin-bottom: 10px;
    }

    p {
      color: rgba($color: #000000, $alpha: 0.20);
      font-size: 12px;
      font-weight: 500;
      text-transform: capitalize;
      margin: 0px;
    }
  }
}

.oder-mode {
  width: 100%;
  padding: 15px 0px 30px 0px;

  .order-list {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    img {
      width: 20px;
      height: 20px;
    }

    h1 {
      width: calc(100% - 25px);
      text-align: center;
      font-size: 14px;
      text-transform: capitalize;
      color: #000000;
      margin: 0px;
    }
  }

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 0px !important;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.02);

    .nav-item {
      width: 50% !important;
    }
    .nav-link {
      width: 100%;
      padding-bottom: 17px;
      text-align: center;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      text-transform: capitalize;
      border-radius: 0px !important;
      border: 0px !important;
      color: rgba($color: #000000, $alpha: 0.5);


      &.active {
        background-color: transparent !important;
        border-radius: 0px !important;
        border-bottom: 1px solid #000000 !important;
        color: #000000 !important;
      }
    }
  }
  
  .data-cotain {
    .price {
      width: 100%;
      padding: 10px 31px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      background-color: rgba($color: #C4C4C4, $alpha: 0.20);
      border-radius: 4px;
      border-inline-start: 1px solid #000000;

      img {
        width: 15px;
        height: 15px;
        object-fit: contain;
        margin-inline-end: 12px;
      }

      p {
        color: #000000;
        font-size: 12px;
        font-weight: 500;
        margin: 0px;
      }
    }

    .form-contain {
      width: 100%;
      margin: 12px 0px 23px 0px;

      .form-group {
        width: 100%;
        height: 35px;
        margin: 0px !important;

        .form-control {
          width: 100%;
          height: 100%;
          background-color: rgba($color: #C4C4C4, $alpha: 0.20);
          border-radius: 8px;
          font-size: 15px;
          font-weight: 500;
          color: #000000;
          border: 1px solid rgba($color: #D04B4F, $alpha: 0.0);

          &::placeholder {
            color: rgba($color: #000000, $alpha: 0.20);
            font-size: 14px;
            font-weight: 500;
          }

          &:hover, &:focus {
            border-color: #D04B4F !important;
          }
        }
      }
    }

    .city {
      width: 100%;

      li {
        padding: 10px 0px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.10);

        &.head {
          border-bottom: 1px solid #000000 !important;
          color: #000000;
          font-size: 15px;
          font-weight: 700;
          text-transform: capitalize;
        }

        a {
          width: 100%;
          display: flex;
          align-items: center;
          align-content: center;
          text-transform: capitalize;
          justify-content: space-between;
          color: #000000;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  .data-pick {
    width: 100%;
    padding: 0px !important;
    border: 0px !important;

    .data {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: space-between;
      padding: 16px 0px !important;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);

      .data-contain {
        h2 {
          text-transform: capitalize;
          color: #000000;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 10px;
        }

        p {
          color: rgba($color: #000000, $alpha: 0.3);
          font-size: 12px;
          font-weight: 500;
          text-transform: capitalize;
          margin: 0px !important;
        }
      }

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }
  }

  .signle-product {
    width: 100%;
    padding-bottom: 30px;
    
    .single-product-img {
      width: 100%;
      height: 226px;
      object-fit: cover;
      object-position: center;
    }

    .single-product-contain {
      width: 100%;

      h2 {
        color: #000000;
        font-size: 16px;
        font-weight: 700;
        margin: 0px;
      }

      .desc {
        color: rgba($color: #000000, $alpha: 0.50);
        font-size: 12px;
        font-weight: 500;
        margin: 10px 0px 15px;
      }

      .price {
        color: #000000;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
      }

      .product-number {
        width: 100%;
        height: 56px;
        margin-bottom: 23px;
        background-color: rgba($color: #C4C4C4, $alpha: 0.20);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        .button {
          width: 48px;
          height: 48px;
          background-color: #E54A4A;
          border-radius: 4px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;

          img {
            width: 15px;
            height: 15px;
            object-fit: contain;
          }
        }

        .product-input {
          width: 48px;
          height: 48px;
          background-color: #C4C4C4;
          border-radius: 4px;
          border: 0px;
          color: #000000;
          font-size: 15px;
          font-weight: 700;
          margin: 0px 36px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          text-align: center;
        }

      }
    }

    .form-contain {
      width: 100%;
      margin: 12px 0px 23px 0px;

      .form-group {
        width: 100%;
        margin: 0px !important;

        label {
          color: #000000;
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        .form-control {
          width: 100%;
          height: 35px;
          background-color: rgba($color: #C4C4C4, $alpha: 0.20);
          border-radius: 8px;
          font-size: 15px;
          font-weight: 500;
          color: #000000;
          border: 1px solid rgba($color: #D04B4F, $alpha: 0.0);

          &::placeholder {
            color: rgba($color: #000000, $alpha: 0.20);
            font-size: 14px;
            font-weight: 500;
          }

          &:hover, &:focus {
            border-color: #D04B4F !important;
          }
        }
      }
    }

    .size-data {
      margin-bottom: 15px !important;
      .head-data {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #000000;
      }
    }
    
    .data-check {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      background-color: rgba($color: #C4C4C4, $alpha: 0.20);
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 0px 10px;

      p {
        color: #000000;
        font-size: 12px;
        font-weight: 700;
        margin: 0px;
      }

      label {
        margin-inline-start: 10px;
        color: #000000;
        font-size: 14px;
      }
    }
  }

  .review-order {
    width: 100%;

    .delivery-time {
      width: 100%;
      padding: 13px 0px;
      border-block-start: 2px solid #f5f5f9;
      border-block-end: 2px solid #f5f5f9;

      h2 {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 21px;
      }

      p {
        color: rgba($color: #000000, $alpha: 0.6);
        font-size: 13px;
        font-weight: 500;
        margin: 0px;
      }

      .flex-data {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;

        .form-transparent {
          border: 0px !important;
          background-color: transparent !important;
        }

        h2 {
          margin: 0px !important;
        }

        p {
          margin: 0px !important;
        }

        .remove-btn {
          width: 76px;
          height: 32px;
          border-radius: 4px;
          border: 1px solid #B12626;
          display: flex;
          align-content: center;
          align-items: center;
          justify-content: center;
          color: #B12626;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .order-item {
      width: 100%;
      border-bottom: 2px solid #f5f5f9;

      h3 {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
      }

      .order-data {
        width: 100%;
        padding: 12px 0px;
        border-bottom: 1px solid #f5f5f9;

        .flex-data {
          width: 100%;
          display: flex;
          align-items: flex-end;
          align-content: flex-end;
          justify-content: space-between;
          background-color: #fff;

          .order-contain {
            .heading {
              color: #E33E3E;
              font-size: 16px;
              font-size: 500;
              margin: 0px !important;
            }

            .desc {
              color: rgba($color: #000000, $alpha: 0.50);
              font-size: 12px;
              font-weight: 500;
              margin: 14px 0px 10px;
            }
          }

          .price {
            color: #000;
            font-size: 16px;
            font-weight: 500;
            margin: 0px;
          }

          .product-num {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: fit-content;

            .button {
              width: 42px;
              height: 42px;
              border: 2px solid rgba($color: #C2C9D1, $alpha: 0.250);
              border-radius: 50%;
              display: flex;
              align-items: center;
              align-content: center;
              justify-content: center;

              img {
                width: 15px;
                height: 15px;
                object-fit: contain;
              }
            }

            .product-input {
              width: 48px;
              height: 48px;
              display: flex;
              align-items: center;
              align-content: center;
              justify-content: center;
              border: 0px !important;
              text-align: center;
              color: #000;
              font-size: 15px;
              margin: 0px 20px;
            }
          }

          .remove-btn {
            width: 76px;
            height: 32px;
            border-radius: 4px;
            border: 1px solid #000;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            color: #000;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }

    }
  }
}

.offers {
  width: 100%;
  padding: 20px 0px;

  .heading-data {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 34px;

    h1 {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
      margin: 0px
    }

    a {
      color: #B1373A;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        color: #D04B4F;
      }
    }
  }
}

.buttons-fixed {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999 !important;

  .shoping-btn {
    width: 100%;
    height: 50px;
    background-color: #D04B4F;
    border-radius: 4px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #B1373A;
    color: #fff;
    font-size: 15px;
    font-weight: 500;

    &:hover {
      background-color: #fff;
      color: #B1373A;
    }
  }

  .contain {
    width: 100%;
    height: 50px;
    padding: 0px 16px;
    background-color: #D04B4F;
    border-radius: 4px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #B1373A;

    span {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
    }

    .number {
      width: 36px;
      height: 36px;
      background-color: #fff;
      border-radius: 4px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 500;
      color: rgba($color: #000000, $alpha: 0.3);
    }

    &:hover {
      background-color: #fff;

      span {
        color: #B1373A;
      }

      .number {
        background-color: #B1373A;
        color: #fff;
      }
    }
  }
}

@import 'media';
